/* trying to force the background to show behind the screenshot  */
/* .portfolio-image {
  background-image: url("../../images/pic02.jpg");

  height: 100%;
} */
.no-dots-list li {
  list-style: none;
}
.custom-header {
  color: #000;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
